node_modules/
coverage/
.nyc_output/
.DS_Store
.vscode
.idea
*.log
package-lock.json
.yarn
.env
yarn.lock
pnpm-lock.yaml
videos/
screenshots/
downloads/
test-results/
target/
.github/tmp
**/chrome/**
.next
