<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BasicTestSuite" verbose="1" parallel="false">
    <test name="LoginTests">
        <groups>
            <run>
                <include name="login" />
            </run>
        </groups>
        <classes>
            <class name="com.deque.watcher_examples.selenium.BasicTestNG" />
        </classes>
    </test>
</suite>