name: Tests

on: [push]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install
      - run: npm run lint

  smoke-tests:
    name: Smoke Tests
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      # We don't want to fail the whole matrix if one job fails
      # Makes it harder to debug what went wrong if it ends early
      fail-fast: false
      matrix:
        include:
          - directory: js/cypress/basic
          - directory: js/cypress/iframes
            additional-steps: cd js/cypress/iframes && node server.js &
          - directory: js/cypress/manual-mode
          - directory: js/cypress/multi-page
          - directory: js/playwright/basic
            playwright: true
          - directory: js/playwright/manual-mode
            playwright: true
          - directory: js/playwright/typescript-multi-page
            playwright: true
          - directory: js/playwright-test/basic
            playwright: true
          - directory: js/playwright-test/multi-page
            playwright: true
          - directory: js/puppeteer/basic
          - directory: js/puppeteer/typescript-multi-page
          - directory: js/wdio-test-runner/typescript/basic
          - directory: js/wdio-test-runner/typescript/manual-mode
          - directory: js/wdio-test-runner/typescript/typescript-multi-page
          - directory: js/wdio-test-runner/cucumber
          - directory: js/wdio/typescript-multi-page
          - directory: js/webdriverjs/basic
          - directory: js/webdriverjs/testing
          - directory: js/webdriverjs/typescript-multi-page
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version || '20' }}
      - run: mkdir -p ./tmp/browsers
      - uses: ./.github/actions/install-chrome
        id: install-chrome
        with:
          working-directory: ./tmp/browsers
      - name: Install Playwright
        if: ${{ matrix.playwright }}
        run: npx playwright install
      - name: Additional steps
        if: ${{ matrix.additional-steps }}
        run: ${{ matrix.additional-steps }}
      - name: Run tests
        run: |
          cd ${{ matrix.directory }} &&
          npm install &&
          npm test
        env:
          API_KEY: ${{ secrets.AXE_DEVHUB_API_KEY }}
          CHROME_BIN: ${{ steps.install-chrome.outputs.chrome-path }}
          CHROMEDRIVER_BIN: ${{ steps.install-chrome.outputs.chromedriver-path }}
