name: Tests

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: npm run lint

  smoke-tests:
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        include:
          - directory: cypress/basic
          - directory: cypress/iframes
            additional-steps: cd cypress/iframes && node server.js &
          - directory: cypress/manual-mode
          - directory: cypress/multi-page
          - directory: playwright/basic
            playwright: true
          - directory: playwright/manual-mode
            playwright: true
          - directory: playwright/typescript-multi-page
            playwright: true
          - directory: playwright-test/basic
            playwright: true
          - directory: playwright-test/multi-page
            playwright: true
          - directory: puppeteer/basic
          - directory: puppeteer/typescript-multi-page
          - directory: wdio/test-runner/typescript
          - directory: wdio/typescript-multi-page
          - directory: wdio/v7/typescript-basic
            # WDIO v7 does not work on Node > 16. Please refer to `setup.ts` for more information.
            node-version: 16
          - directory: webdriverjs/basic
          - directory: webdriverjs/testing
          - directory: webdriverjs/typescript-multi-page
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version || '20' }}
      - name: Install Playwright
        if: ${{ matrix.playwright }}
        run: npx playwright install
      - name: Additional steps
        if: ${{ matrix.additional-steps }}
        run: ${{ matrix.additional-steps }}
      - name: Run tests
        run: cd ${{ matrix.directory }} && npm install && npm test --timeout 60s
        env:
          API_KEY: ${{ secrets.AXE_DEVHUB_API_KEY }}
